# Bikeshare APP

In [1]:
"""
Bikeshare
"""
from app.controller.backshare_controller import BackshareController
controller = BackshareController()

#### Hello! Let's explore some US bikeshare data!

#### City Menu

In [2]:
controller.city_menu()

Which city you like to see the data for?
1. Chicago
2. New York City
3. Washington

----------------------------------------

#### Period Menu

In [3]:
controller.period_menu()

Which day of the week you like to filter the data?
1. Month
2. Day
3. Both
4. None

----------------------------------------

#### Month Menu

In [4]:
controller.month_menu()

Which Month would you like to filter the data?
1. January
2. February
3. March
4. April
5. May
6. June

----------------------------------------

#### Day Menu

In [5]:
controller.day_menu()

#### Loading Data

In [6]:
controller.load_data()

### Time Travel Statistics

In [7]:
controller.display_time_travel_statistics()

Calculating The Most Frequent Times of Travel...


Most popular day of the week        :                   Tuesday
Most popular hour of the Month      :                        17

This took (seconds)                 :     0.0035219192504882812

----------------------------------------

### Statistics on Popular stations and trip

In [8]:
controller.display_time_travel_statistics()

Calculating The Most Frequent Times of Travel...


Most popular day of the week        :                   Tuesday
Most popular hour of the Month      :                        17

This took (seconds)                 :     0.0020902156829833984

----------------------------------------

### statistics on the total and average trip duration

In [9]:
controller.display_duration_statistics()

Calculating Trip Duration...


Total travel time (Hours)                  :                  14826150
The average(mean) travel time (Hours)      :                679.817965

This took (seconds)                        :     0.0007050037384033203

----------------------------------------

### Statistics on bikeshare users

In [10]:
controller.display_user_stats_statistics()

Calculating User Stats...


User Type
Total counts of all user types      :                    21809
Total counts of Customer            :                     1015
Total counts of Subscriber          :                    20794
Gender
Total counts of all gender          :                    20804
Total counts of Female              :                     4059
Total counts of Male                :                    16745
Birth Year
The oldest year of birth            :                   1899.0
Most recent year of birth           :                   2000.0
Most command year of birth          :                   1989.0

This took (seconds)                 :     0.005944013595581055

----------------------------------------

### Individual trip statistics

In [11]:
controller.display_individual_trip_statistics()

Would you like to view 5 rows of individual trip data?
1. Yes
2. No

----------------------------------------

    Unnamed: 0          Start Time             End Time  Trip Duration  \
2         9031 2017-01-04 08:27:49  2017-01-04 08:34:45            416
4        45207 2017-01-17 14:53:07  2017-01-17 15:02:01            534
7        65924 2017-01-21 14:28:38  2017-01-21 14:40:41            723
11       71678 2017-01-22 15:15:45  2017-01-22 15:31:02            917
12       19061 2017-01-08 16:03:00  2017-01-08 16:07:37            277

                     Start Station                   End Station   User Type  \
2               May St & Taylor St           Wood St & Taylor St  Subscriber
4           Clark St & Randolph St  Desplaines St & Jackson Blvd  Subscriber
7       Larrabee St & Kingsbury St    Larrabee St & Armitage Ave    Customer
11  Southport Ave & Wellington Ave        Clark St & Schiller St  Subscriber
12           Green St & Madison St      Ada St & Washington Blvd  Subscriber

   Gender  Birth Year
2    Male      1981.0
4    Male      1975.0
7     NaN         NaN
11   Male      1964.0
12   Male      1961.0

----------------------------------------

Would you like to view 5 rows of individual trip data?
1. Yes
2. No

----------------------------------------

### Reset data

In [12]:
controller.reset_data()